.hero_slider {
  @apply bg-cover bg-center bg-no-repeat py-[9rem] relative w-full;
}
.hero_slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
